.button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: grey;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.stageSelected {
  background-color: lightcoral;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  cursor: pointer;
}

.currentStage {
  background-color: lightgreen;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  cursor: pointer;
}
